{{> layout/header}}
<div class="container grid-gap: 50px;">
    <!-- 유형별 공고 탭 시작 -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">채용공고</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">구인공고</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">맞춤공고</a>
        </li>
    </ul>
    <!-- 유형별 공고 탭 끝 -->
</div>

<section class="container grid-gap: 50px; mt-5">
    <h1>회사추천</h1>
    <br>
    <ul class="row row-cols-4 gap-3">
        <!-- 구인공고 시작 -->
        <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
            <a href="#" style="text-decoration: none; color: black">
                <div style="width: 100%; height: 11rem; overflow: hidden">
                    <img src="/images/company1.png" class="card-img-top" alt="이력서 사진" />
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>SK(주) C&C</b></h5>
                    <p class="card-text" style="
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          ">
                        DBMS(Oracle) 구축 담당 구성원 영입 (촉탁직)
                    </p>
                    <h6><span>Oracle</span>|<span>DBMS/RDBMS</span></h6>
                    <h6><span>경력무관</span>|<span>판교/분당</span></h6>

                </div>
            </a>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-outline-primary mb-3" style="width: 100%">스크랩하기</a>
            </div>
        </li>
        <!-- 구인공고 끝 -->

        <!-- 구인공고 시작 -->
        <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
            <a href="#" style="text-decoration: none; color: black">
                <div style="width: 100%; height: 11rem; overflow: hidden">
                    <img src="/images/company2.jpg" class="card-img-top" alt="이력서 사진" />
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>SK(주) C&C</b></h5>
                    <p class="card-text" style="
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    ">
                        DBMS(Oracle) 구축 담당 구성원 영입 (촉탁직)
                    </p>
                    <h6><span>Oracle</span>|<span>DBMS/RDBMS</span></h6>
                    <h6><span>경력무관</span>|<span>판교/분당</span></h6>

                </div>
            </a>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-outline-primary mb-3" style="width: 100%">스크랩하기</a>
            </div>
        </li>
        <!-- 구인공고 끝 -->

        <!-- 구인공고 시작 -->
        <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
            <a href="#" style="text-decoration: none; color: black">
                <div style="width: 100%; height: 11rem; overflow: hidden">
                    <img src="/images/company3.JPG" class="card-img-top" alt="이력서 사진" />
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>SK(주) C&C</b></h5>
                    <p class="card-text" style="
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    ">
                        DBMS(Oracle) 구축 담당 구성원 영입 (촉탁직)
                    </p>
                    <h6><span>Oracle</span>|<span>DBMS/RDBMS</span></h6>
                    <h6><span>경력무관</span>|<span>판교/분당</span></h6>

                </div>
            </a>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-outline-primary mb-3" style="width: 100%">스크랩하기</a>
            </div>
        </li>
        <!-- 구인공고 끝 -->

        <!-- 구인공고 시작 -->
        <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
            <a href="#" style="text-decoration: none; color: black">
                <div style="width: 100%; height: 11rem; overflow: hidden">
                    <img src="/images/company4.png" class="card-img-top" alt="이력서 사진" />
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>SK(주) C&C</b></h5>
                    <p class="card-text" style="
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    ">
                        DBMS(Oracle) 구축 담당 구성원 영입 (촉탁직)
                    </p>
                    <h6><span>Oracle</span>|<span>DBMS/RDBMS</span></h6>
                    <h6><span>경력무관</span>|<span>판교/분당</span></h6>

                </div>
            </a>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-outline-primary mb-3" style="width: 100%">스크랩하기</a>
            </div>
        </li>
        <!-- 구인공고 끝 -->

        <!-- 구인공고 시작 -->
        <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
            <a href="#" style="text-decoration: none; color: black">
                <div style="width: 100%; height: 11rem; overflow: hidden">
                    <img src="/images/company5.png" class="card-img-top" alt="이력서 사진" />
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>SK(주) C&C</b></h5>
                    <p class="card-text" style="
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    ">
                        DBMS(Oracle) 구축 담당 구성원 영입 (촉탁직)
                    </p>
                    <h6><span>Oracle</span>|<span>DBMS/RDBMS</span></h6>
                    <h6><span>경력무관</span>|<span>판교/분당</span></h6>

                </div>
            </a>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-outline-primary mb-3" style="width: 100%">스크랩하기</a>
            </div>
        </li>
        <!-- 구인공고 끝 -->

        <!-- 구인공고 시작 -->
        <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
            <a href="#" style="text-decoration: none; color: black">
                <div style="width: 100%; height: 11rem; overflow: hidden">
                    <img src="/images/company6.jpg" class="card-img-top" alt="이력서 사진" />
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>SK(주) C&C</b></h5>
                    <p class="card-text" style="
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    ">
                        DBMS(Oracle) 구축 담당 구성원 영입 (촉탁직)
                    </p>
                    <h6><span>Oracle</span>|<span>DBMS/RDBMS</span></h6>
                    <h6><span>경력무관</span>|<span>판교/분당</span></h6>

                </div>
            </a>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-outline-primary mb-3" style="width: 100%">스크랩하기</a>
            </div>
        </li>
        <!-- 구인공고 끝 -->

        <!-- 구인공고 시작 -->
        <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
            <a href="#" style="text-decoration: none; color: black">
                <div style="width: 100%; height: 11rem; overflow: hidden">
                    <img src="/images/company7.jpg" class="card-img-top" alt="이력서 사진" />
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>SK(주) C&C</b></h5>
                    <p class="card-text" style="
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    ">
                        DBMS(Oracle) 구축 담당 구성원 영입 (촉탁직)
                    </p>
                    <h6><span>Oracle</span>|<span>DBMS/RDBMS</span></h6>
                    <h6><span>경력무관</span>|<span>판교/분당</span></h6>

                </div>
            </a>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-outline-primary mb-3" style="width: 100%">스크랩하기</a>
            </div>
        </li>
        <!-- 구인공고 끝 -->

        <!-- 구인공고 시작 -->
        <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
            <a href="#" style="text-decoration: none; color: black">
                <div style="width: 100%; height: 11rem; overflow: hidden">
                    <img src="/images/company8.png" class="card-img-top" alt="이력서 사진" />
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>SK(주) C&C</b></h5>
                    <p class="card-text" style="
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    ">
                        DBMS(Oracle) 구축 담당 구성원 영입 (촉탁직)
                    </p>
                    <h6><span>Oracle</span>|<span>DBMS/RDBMS</span></h6>
                    <h6><span>경력무관</span>|<span>판교/분당</span></h6>

                </div>
            </a>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-outline-primary mb-3" style="width: 100%">스크랩하기</a>
            </div>
        </li>
        <!-- 구인공고 끝 --> <!-- 구인공고 시작 -->
        <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
            <a href="#" style="text-decoration: none; color: black">
                <div style="width: 100%; height: 11rem; overflow: hidden">
                    <img src="/images/company9.JPG" class="card-img-top" alt="이력서 사진" />
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b>SK(주) C&C</b></h5>
                    <p class="card-text" style="
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    ">
                        DBMS(Oracle) 구축 담당 구성원 영입 (촉탁직)
                    </p>
                    <h6><span>Oracle</span>|<span>DBMS/RDBMS</span></h6>
                    <h6><span>경력무관</span>|<span>판교/분당</span></h6>

                </div>
            </a>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-outline-primary mb-3" style="width: 100%">스크랩하기</a>
            </div>
        </li>
        <!-- 구인공고 끝 -->
    </ul>
</section>
{{> layout/footer}}