{{> /layout/header}}

<div class="container d-flex">
    <!-- 이력서 검토 시작 -->
    <div class=" mx-2 pb-4 w-100">
        <div class="border border-tertiary  p-5 rounded shadow" style="height: 100vh;">
            <div class="d-flex justify-content-between">
                <h1>제안 온 메일을 확인해 보세요!</h1>
            </div>
            <hr>
            <div class="container mb-5 mt-5 w-100 h-100">
                <table class="table table-hover">
                    <tr class="table-dark">
                        <th class="col-4 px-2">제목</th>
                        <th class="col-1">회사명</th>
                        <th class="col-5">채용공고</th>
                        <th class="col-3">날짜</th>
                    </tr>
                    <!-- 조건문 사용 시작 -->
                    <!-- 지원 이력서 없을 때 -->
                    <!-- <tr>
                                <td>title</td>
                                <td>name</td>
                                <td><a href="#" class="text-decoration-none">title</a></td>
                                <td>2024-03-05</td>
                            </tr> -->
                    <!-- 지원 이력서 하나일 때  -->
                    <tr class="table-info">
                        <td>title</td>
                        <td>name</td>
                        <td><a href="#" class="text-decoration-none">title</a></td>
                        <td>2024-03-05</td>
                    </tr>
                    <!-- 그 외 -->
                    <!-- <tr class="table-secondary">
                                <td>title</td>
                                <td>name</td>
                                <td><a href="#" class="text-decoration-none">title</a></td>
                                <td>2024-03-05</td>
                            </tr> -->
                    <!-- 조건문 사용 끝 -->
                </table>
            </div>
        </div>
    </div>
    <!-- 이력서 검토 끝 -->
    <!-- list-group( 오른쪽 바로가기) 시작 -->
    <div class="list-group mx-2">
        <a href="/view/person/info.html" class="list-group-item shadow " style="width: 150px;">회원정보관리</a>
        <a href="/view/person/resumes.html" class="list-group-item shadow">이력서관리</a>
        <a href="/view/person/scrap.html" class="list-group-item hs_list_effect shadow">스크랩한 공고</a>
        <a href="/view/person/offerEmails.html" class="list-group-item shadow">받은 제안</a>
        <a href="/view/person/history.html" class="list-group-item shadow">지원 현황</a>
    </div>
    <!-- list-group( 오른쪽 바로가기) 끝 -->
</div>

{{> /layout/footer}}