{{> layout/header}}
<div class="container justify-content-center mt-4 mb-5">
    <div class="d-flex justify-content-between w-100">
        <div class="border hs_content_box w-100 mx-2 mt-4 rounded shadow">
            <div class="px-5 pt-5 pb-2">
            </div>
            <div class="px-5">
                <div class="d-flex justify-content-start align-items-center">
                    <h3 class="">돈 많이 줄거야</h3>
                    <div class="d-flex justify-content-center mx-4">
                        <a href="#" class="btn btn-outline-primary mb-3" style="width: 100%">지원하기</a>
                    </div>
                </div>
                <hr class="d-inline-flex w-100">
                <div class="pt-2 mt-3">
                    <div class="border border-tertiary px-3 py-3 pt-3 d-inline-flex ms-2 me-3 mb-3 w-100">
                        <div style="width: 188px; height: 226px;">
                            <img src="/images/company1.png" alt="로고" style="width: 100%; height: 226px;">
                        </div>
                        <table class="table table-borderless pt-5 ms-3">
                            <tr class="pb-5">
                                <th>지원 자격</th>
                                <td>
                                    <!-- 커리어가 0이면 신입, 그게 아니면 00연차 조건식 작성 -->

                                    미들 (4~8년)
                                </td>
                                <th>연봉</th>
                                <td>회사 내규에 따름</td>
                            </tr>
                            <tr>
                                <th>근무 조건</th>
                                <td>자유로운 연차 사용(시간단위 연차사용 가능)</td>
                                <th>근무 시간</th>
                                <td class="d-flex">퍼플근무제 (8~10시 출근시간 선택)</td>
                            </tr>
                        </table>
                    </div>
                    <div class="mt-4">
                        <h5><b>마감 일자</b></h5>
                        <div class="border border-tertiary p-3 d-inline-flex me-3 mb-3 w-100">
                            2024-03-05
                        </div>
                    </div>
                    <div class="mt-4">
                        <h5><b>기업 소개</b></h5>
                        <div class="border border-tertiary p-3 d-inline-flex me-3 mb-3 w-100">
                            NHN KCP, 어떤 곳인가요?
                            NHN KCP는 전자결제대행 서비스, 온·오프라인 카드 VAN 서비스, 모바일 결제 서비스 등 국내 유일의 통합결제 서비스 구축을 통하여
                            전자결제 산업의 리딩 컴퍼니라는 자부심 속에 안전하고 편리한 결제를 제공하기 위해 노력하고 있습니다.

                            이에 더 나아가 NHN KCP는 국내 온·오프라인을 통합한 O2O 결제 시스템 구축 및 글로벌 전자상거래 사업을 통해 급변하는 전자결제 시장에 적극적으로
                            대응함과 동시에 새로운 해외시장 개척에도 최선을 다하고 있습니다.

                            최근 국내 전자결제 시장에서 화두로 떠오른 간편결제 분야에서도, NHN KCP는 철저한 사전 준비와 전략으로 해외 유수의 PG사 들과 어깨를 나란히 할 수
                            있는 글로벌 전자결제 업체로 성장할 것을 확신합니다.

                            "결제 산업의 리딩컴퍼니 엔에이치엔한국사이버결제와 함께 결제 산업의 변화와 혁신을 선도할 열정있는 인재를 기다립니다."
                        </div>
                    </div>
                    <div class="mt-4">
                        <h5><b>업무 소개</b></h5>
                        <div class="border border-tertiary p-3 d-inline-flex me-3 mb-3 w-100">
                            NHN KCP 서비스개발팀 JAVA 백엔드 웹개발자 모집 채용공고입니다.

                            주요업무
                            - PG, VAN 백엔드시스템 개발

                            - 국내/해외 가맹점 관리자 개발 및 운영
                        </div>
                    </div>
                    <div class="mt-4">
                        <h5><b>기술/자격 조건</b></h5>
                        <div class="jh_resume_skill">
                            <div>
                                <ul>
                                    <!-- 반복문으로 돌려서 자동으로 스킬 리스트가 생기게 -->
                                    <li>JAVA</li>
                                    <li>Spring Framework(Spring Boot)</li>
                                    <li>HTML</li>
                                    <li>jquery</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 mb-4">
                        <h5><b>기업 정보</b></h5>
                        <div class="border border-tertiary ps-5 pe-2 pt-3 d-inline-flex mb-3 w-100">
                            <table class="table table-borderless pt-5 ms-5">
                                <tr class="pb-5">
                                    <th>사원수</th>
                                    <td>25명</td>
                                    <th>대표자</th>
                                    <td>최주호</td>
                                </tr>
                                <tr>
                                    <th>설립년도</th>
                                    <td>20220-03-05</td>
                                    <th>전화번호</th>
                                    <td>010-1234-5678</td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td>부산시 부산진구 모처</td>
                                    <th>이메일</th>
                                    <td>ssar@nate.com</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- <div class="card mt-4 p-4 ms-2 shadow" style="width:350px;">
                <div class="d-flex justify-content-between m-1">
                    <h4><b>회사 취직을 원해요</b></h4>
                </div>
                <div class="d-flex justify-content-between m-1 mb-3">
                    <div class="mt-5">
                        <button type="button" class="btn btn-sm">
                            <i class="fa-regular fa-thumbs-up fa-2xl" id="" value=""></i>
                        </button>
                    </div>
                </div>
                <button id="btnModal" type="button" class="btn init_color proposalBtn"
                    style="height: 50px; background-color: #47D4D4;">제안하기</button> -->
        <div id="applyModal" class="modal fade" style="display: block;" id="">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="">나의 이력서</h4>
                        <button type="button" class="btn-close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="#" method="post">
                            <!-- 이력서 선택하는 부분 시작 -->
                            <div class="px-5 mt-5">
                                <h5><b>구직 제안 메일 제목</b></h5>
                                <input class="form-control" type="text" name="title" required>
                                <div class="pt-4">
                                    <hr class="d-inline-flexw-100">
                                </div>
                                <div class="pt-2 mt-4">
                                    <div class="mt-4">
                                        <h5><b>메일 내용</b></h5>
                                        <div class="border border-tertiary p-3 d-inline-flex me-3 mb-3 w-100">
                                            <input class="form-control border-0" type="text" name="cIntro" required>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <h5><b>채용공고 선택</b></h5>
                                        <select name="pay" class="jm_select selectpicker" data-style="btn-info"
                                                style=" height: 35px;">
                                            <option value="면접 후 결정" selected>웹디자이너</option>
                                            <option value="2000만원">프로그래머</option>
                                            <option value="3000만원">회계</option>
                                            <option value="4000만원">경영</option>
                                        </select>
                                    </div>
                                    <div class="mt-4 mb-4">
                                        <h5><b>기업 정보</b></h5>
                                        <div class="border border-tertiary ps-5 pe-2 pt-3 d-inline-flex mb-3 w-100">
                                            <table class="table table-borderless pt-5 ms-5">
                                                <tr class="pb-5">
                                                    <th>사원수</th>
                                                    <td>25명</td>
                                                    <th>대표자</th>
                                                    <td>최주호</td>
                                                </tr>
                                                <tr>
                                                    <th>설립년도</th>
                                                    <td>2020-03-05</td>
                                                    <th>전화번호</th>
                                                    <td>010-1234-5678</td>
                                                </tr>
                                                <tr>
                                                    <th>주소</th>
                                                    <td>부산시 해운대구 모처</td>
                                                    <th>이메일</th>
                                                    <td>ssar@nate.com</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="text-center mt-5 mb-5">
                                        <button type="submit" class="btn btn-dark w-50">메일보내기</button>
                                    </div>
                                </div>
                            </div>
                            <!-- 이력서 선택하는 부분 끝 -->
                            <hr>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-dark mx-2">새로 작성</button>
                                <!-- 이력서가 선택되어야 제출하기가 활성화되게 합시다. -->
                                <button type="submit" class="btn init_color">제출하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- <script>
              count = 0;
              document.querySelector("#btnModal").addEventListener("click", function () {
                  if (count % 2 == 1) {
                      document.querySelector("#applyModal").style.display = "block";
                  } else {
                      document.querySelector("#applyModal").style.display = "none";
                  }
              })
          </script> -->
    </div>
</div>
</div>
</div>
{{> layout/footer}}