{{> layout/header}}
<!-- <div class="container d-flex" style="height: 100vh;"> -->
<div class="container d-flex">
    <section class="container grid-gap: 50px; mt-5">
        <!-- 이력서 추가 버튼 -->
        <div class="d-flex justify-content-start mx-4">
            <h1>이력서 관리</h1>
            <div>
                <a href="#" class="btn btn-outline-primary mb-3 mx-2 mt-2" style="width: 120px">이력서 추가</a>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-start">
            <h3 class=" mx-4">기본 이력서를 선택해 주세요(필수)</h3>
            <a href="#" class="btn btn-outline-primary mb-3" style="width: 120px">저장하기</a>
        </div>

        <br>
        <ul class="row row-cols-4 gap-3">
            <!-- 이력서 시작 -->
            {{#resumeList}}
                <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
                    <div class="form-check d-flex justify-content-center">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                               checked required>
                        <label class="form-check-label" for="flexRadioDefault1"></label>
                    </div>
                    <a href="#" style="text-decoration: none; color: black">
                        <div style="width: 100%; height: 15rem; overflow: hidden">
                            <img src="/images/person01.png" class="card-img-top" alt="이력서 사진"/>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" style="
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          "><b>{{title}}</b></h5>
                            <h6><span>커리어</span>|<span>{{career}}</span></h6>
                            <p class="card-text" style="
                          display: -webkit-box;
                          -webkit-line-clamp: 2;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        ">
                                {{simpleIntroduce}}
                            </p>
                            <!-- 버튼 구림 -->
                            <div class="d-flex justify-content-start" style="
                          display: -webkit-box;
                          -webkit-line-clamp: 1;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        ">
                                <button class="btn btn-outline-info btn-sm disabled"
                                        style="padding: 0px 5px; margin-bottom: 0px !important">
                                    DEV
                                </button>
                                <button class="btn btn-outline-warning btn-sm disabled">
                                    JAVA
                                </button>
                                <button class="btn btn-outline-warning btn-sm disabled">
                                    Flutter
                                </button>
                                <button class="btn btn-outline-warning btn-sm disabled">
                                    JavaScript
                                </button>
                                <button class="btn btn-outline-warning btn-sm disabled">
                                    React
                                </button>
                            </div>
                        </div>
                    </a>
                    <div class="d-flex justify-content-center">
                        <a href="/view/person/resumes.html" class="btn btn-outline-success mb-3"
                           style="width: 100%">기본이력서</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="/view/person/resumes.html" class="btn btn-outline-danger mb-3"
                           style="width: 100%">삭제하기</a>
                    </div>
                </li>
            {{/resumeList}}
        </ul>
    </section>
    <!-- list-group( 오른쪽 바로가기) 시작 -->
    <div class="list-group mx-2">
        <a href="/view/person/info.html" class="list-group-item shadow " style="width: 150px;">회원정보관리</a>
        <a href="/view/person/resumes.html" class="list-group-item shadow">이력서관리</a>
        <a href="/view/person/scrap.html" class="list-group-item hs_list_effect shadow">스크랩한 공고</a>
        <a href="/view/person/offerEmails.html" class="list-group-item shadow">받은 제안</a>
        <a href="/view/person/history.html" class="list-group-item shadow">지원 현황</a>
    </div>
    <!-- list-group( 오른쪽 바로가기) 끝 -->
</div>

<div class="container mt-5 mb-5">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">이전</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">다음</a>
            </li>
        </ul>
    </nav>
</div>
<!-- 페이지네이션 -->

{{> layout/footer}}