{{> layout/header}}
<div class="container d-flex">
    <div class=" mx-2 pb-4 w-100">
        <div class="border border-tertiary p-5 rounded shadow">


            <div class="d-flex justify-content-start align-items-center">
                <div class="col">
                    <h3 style="font-weight: bold">{{apply.resume.title}}</h3>
                </div>
                <div class="d-flex justify-content-end">
                    <!-- 이 버튼 무언가를 전송하기 위한 것인가요? -->
                    <button class="btn btn-outline-success" type="submit">{{apply.isPass}}</button>
                </div>
            </div>
            <hr class="d-inline-flex w-100">
            <form class="row d-flex justify-content-end g-3 align-items-center" action="/company/resumes/{{apply.id}}/ispass"
                  method="post">
                <div class="col-auto">
                    <select class="form-select form-select-sm" aria-label="Default select example" id="isPass"
                            name="isPass">
                        <option selected>합격 여부 선택</option>
                        <option value="합격">합격</option>
                        <option value="불합격">불합격</option>
                        <option value="심사중">심사중</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-success btn-sm" type="submit"><i class="far fa-paper-plane"></i>
                    </button>
                </div>
            </form>

            <div class="d-flex justify-content-center">
                <div style="width: 85%;">
                    <div class="jh_resume_flexbox mt-3">
                        <!-- 이미지를 올리면 그게 올라가고 올리지 않으면 기본 프로필이 올라감 -->
                        <img src="/images/{{apply.resume.profile}}" alt="프로필 사진" style="width: 188px; height: 226px;">
                        <table class="resume_table">
                            <tr>
                                <td>이름: {{apply.resume.user.name}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>생년월일: {{apply.resume.user.birth}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>전화번호: {{apply.resume.user.tel}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>거주지: {{apply.resume.user.address}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>이메일: {{apply.resume.user.email}}</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="mt-5">
                        <h4>커리어</h4>
                        <textarea name="" class="w-100 opacity-50" rows="10" readOnly>
                            {{apply.resume.career}}
                        </textarea>
                        <h4>간단 소개</h4>
                        <textarea name="" class="w-100 opacity-50" rows="10" readOnly>
                            {{apply.resume.simpleIntroduce}}
                        </textarea>
                        <h4>포트폴리오 주소</h4>
                        <input type="url" class="form-control mt-2" id="" style="display: block;"
                               value="{{apply.resume.portfolio}}" readOnly>
                    </div>
                    <div class="mt-5 jh_resume_skill">
                        <h4>기술스택</h4>
                        <div class="row row-cols-auto gap-3 justify-content-start my-3" style="width: 70%;">
                            {{#apply.resume.skillList}}
                                <div class="btn btn-outline-primary mx-3 disabled">{{skill}}</div>
                            {{/apply.resume.skillList}}
                        </div>
                        <div class="mt-5 w-100">
                            <h4>자기소개</h4>
                            <textarea name="" class="w-100 opacity-50" rows="10" readOnly>
                            {{apply.resume.introduce}}
                        </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- list-group( 오른쪽 바로가기) 시작 -->
        <div class="list-group mx-2">
            <a href="/company/info" class="list-group-item shadow " style="width: 180px;">회사 정보 관리</a>
            <a href="/company/posts" class="list-group-item shadow">공고 관리</a>
            <a href="/company/resumes" class="list-group-item hs_list_effect shadow">받은 이력서</a>
            <a href="/company/scrap" class="list-group-item shadow">스크랩한 이력서</a>
            <a href="/company/offers" class="list-group-item shadow">제안한 이력서</a>
        </div>
        <!-- list-group( 오른쪽 바로가기) 끝 -->
    </div>
</div>

{{> layout/footer}}