{{> layout/header}}
<div class="container d-flex">
    <div class=" mx-2 pb-4 w-100">
        <div class="border p-5 rounded shadow">
            <div class="d-flex justify-content-between">
                <h1 class="d-inline-flex">마이페이지</h1>
                <!-- 수정하기 버튼 아래로 옮기기 -->
                <!-- <button type="button" class="btn btn-dark" style="width:100px; height:40px;">수정하기</button> -->
            </div>
            <hr>

            <div>
                <div class="container w-50 mt-5 text ">
                    <form action="/company/info/updateForm" method="get">
                        <div class="px-5 mt-5">
                            <img src="/images/{{user.profile}}" id="profile" class="mx-auto d-block mt-5 my-3 w-50 h-50">

                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text justify-content-center hs_span_size init_color hs_span">회사명</span>
                            <input type="text" class="form-control" value="{{user.companyName}}" readonly>
                        </div>


                        <div class="input-group mb-3">
                            <span class="input-group-text  justify-content-center hs_span_size init_color hs_span">사업자 번호</span>
                            <input type="text" class="form-control" value="{{user.companyNum}}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text justify-content-center hs_span_size init_color hs_span">회사주소</span>
                            <input type="text" class="form-control" value="{{user.address}}" readonly>
                        </div>

                        <div class="mt-5">
                            <h4 class="border-bottom pb-4">담당자 정보</h4>
                        </div>
                        <br>
                        <div class="input-group mb-3">
                            <span class="input-group-text  justify-content-center hs_span_size init_color hs_span">이름</span>
                            <input type="text" class="form-control" value="{{user.username}}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text  justify-content-center hs_span_size init_color hs_span">연락처</span>
                            <input type="text" class="form-control" value="{{user.tel}}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text justify-content-center hs_span_size init_color hs_span">이메일</span>
                            <input type="text" class="form-control" value="{{user.email}}" readonly>
                        </div>
                        <!-- 수정완료 버튼 하단으로 수정 -->
                        <div id="checkAlertBox"></div>
                        <!-- <div class="d-inline-flex align-self-center justify-content-center mt-5 w-100"> -->
                        <hr class="my-4">
                        <div style="width: 100%;">
                            <button type="submit" class="btn btn-outline-success mb-3"
                                    style="width: 100%">수정하기
                            </button>
                        </div>
                        <!-- </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- list-group( 오른쪽 바로가기) 시작 -->
    <div class="list-group mx-2">
        <a href="/company/info" class="list-group-item shadow " style="width: 180px;">회사 정보 관리</a>
        <a href="/company/post" class="list-group-item shadow">공고 관리</a>
        <a href="/company/resume" class="list-group-item hs_list_effect shadow">받은 이력서</a>
        <a href="/company/scrap" class="list-group-item shadow">스크랩한 이력서</a>
        <a href="/company/offers" class="list-group-item shadow">제안한 이력서</a>
    </div>
</div>
{{> layout/footer}}