{{> layout/header}}
<div style="margin-top: 100px; margin-bottom: 100px;">
    <div class="d-flex justify-content-center mb-4">
        <h2>기업 회원</h2>
    </div>
    <div class="d-flex justify-content-center">
        <div class="border rounded p-3 m-3 shadow" style="width: 300px;">
            <form action="/company/login" method="post">
                <div class="form-group form-floating m-3 mx-auto">

                    <input type="email" name="email" class="form-control" id="floatingInput" required value="sk_cnc@sk.com">

                    <label for="floatingInput">담당자 이메일</label>
                </div>
                <div class="form-group form-floating m-3 mx-auto">
                    <input type="password" name="password" class="form-control" id="floatingInput" required value="1234">
                    <label for="floatingInput">비밀번호</label>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" href="#" class="btn btn-outline-success mb-3" style="width: 100%">로그인</button>
                </div>
            </form>
            <div class="text-center">
                <p><a href="/company/joinForm" style="color: #699B22;">아직 회원이 아니신가요?</a></p>
            </div>
        </div>
    </div>
</div>
{{> layout/footer}}