{{> layout/header}}
<!-- header -->
<!-- 탭 구현 할 것! 지금은 안된 상황-->
<div class="container grid-gap: 50px;">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/person/main">채용공고</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/company/main">구인공고</a>
        </li>
        {{#sessionuser}}
            <li class="nav-item">
                <a class="nav-link"
                   href="{{#isMatchingCompany}}/company/matching{{/isMatchingCompany}}{{^isMatchingCompany}}/person/matching{{/isMatchingCompany}}">맞춤공고</a>
            </li>
        {{/sessionuser}}


    </ul>
</div>
<!-- 유형별 공고 탭 끝 -->
<!-- 검색 -->
<div class="container align-items-center mt-3 border p-3" style="border-radius: 10px;">
    <form>
        <div class="d-flex justify-content-start align-items-center ">
            <h5 class="pb-2">인재 찾기</h5>
            <div class="search-top mx-3 mb-3 d-flex justify-content-between">
                <button class="btn btn-outline-success" type="submit">
                    <!-- 검색 -->
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="search-mid">
            <div class="d-flex justify-content-between">
                <div style="width: 100%;">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>직군.직무</option>
                        <option value="1">프론트엔드</option>
                        <option value="2">백엔드</option>
                        <option value="3">엔지니어</option>
                    </select>
                </div>
                <div style="width: 100%;">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>경력</option>
                        <option value="1">경력무관</option>
                        <option value="2">인턴</option>
                        <option value="3">신입(1년 이하)</option>
                        <option value="4">주니어(1~3년)</option>
                        <option value="5">미들(9년 이상)</option>
                        <option value="6">Lead레벨</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="search-bottom d-flex justify-content-around align-items-center">
            <div class="d-flex justify-content-between" style="width: 30%;">
                <!-- <form class=" company search d-flex " role="search"> -->
                <input class="form-control me-2" type="search" placeholder="기술 스택" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">
                    <!-- 검색 -->
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <!-- </form> -->
            </div>
            <div class="row row-cols-auto gap-3 justify-content-center my-3" style="width: 70%;">
                <input type="checkbox" class="btn-check" id="btn1" value="java" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn1">java</label>
                <input type="checkbox" class="btn-check" id="btn2" value="spring" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn2">spring</label>
                <input type="checkbox" class="btn-check" id="btn3" value="html" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn3">html</label>
                <input type="checkbox" class="btn-check" id="btn4" value="javascript" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn4">javascript</label>
                <input type="checkbox" class="btn-check" id="btn5" value="sql" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn5">sql</label>
                <input type="checkbox" class="btn-check" id="btn6" value="android" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn6">android</label>
                <input type="checkbox" class="btn-check" id="btn7" value="React" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn7">React</label>
                <input type="checkbox" class="btn-check" id="btn8" value="Node.js" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn8">Node.js</label>
                <input type="checkbox" class="btn-check" id="btn9" value="Express" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn9">Express</label>
                <input type="checkbox" class="btn-check" id="btn10" value="Flutter" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn10">Flutter</label>
            </div>
        </div>
    </form>
</div>

<section class="container grid-gap: 50px; mt-5">
    <ul class="row row-cols-4 gap-3">
        <!-- 이력서 시작 -->
        {{#resumeSkillList}}
            <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
                <a href="/resume/detail/{{id}}" style="text-decoration: none; color: black">
                    <div style="width: 100%; height: 15rem; overflow: hidden">
                        <img src="/images/{{profile}}" class="card-img-top" alt="이력서 사진"/>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><b>{{username}}</b></h5>
                        <h6><span>커리어</span>|<span>{{career}}</span></h6>

                        <p class="card-text" style="
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                ">
                            {{simpleIntroduce}}
                        </p>
                        <div class="d-flex justify-content-start" style="
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                ">
                            <h6><span>{{#skill}}
                                <button class="btn btn-outline-warning btn-sm disabled">
                                    {{.}}
                                </button>{{/skill}}</span></h6>
                        </div>
                    </div>
                </a>

            </li>
        {{/resumeSkillList}}

    </ul>

</section>
<!-- 이력서들 -->
<div class="container mt-5 mb-5">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">이전</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <!-- <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li> -->
            <li class="page-item disabled">
                <a class="page-link" href="#">다음</a>
            </li>
        </ul>
    </nav>
</div>
{{> layout/footer}}