{{> layout/header}}
<div class="container justify-content-center mt-4 mb-5">
    <div class="border hs_content_box w-100 mx-2 mt-4 rounded shadow pb-5">
        <div class="px-5 pt-5 pb-2"></div>
        <div class="px-5">
            <div class="row align-items-center">
                <!-- 타틀 -->
                <div class="col">
                    <h3>이력서제목</h3>
                </div>
                <!-- 제안취소 -->
                <div class="col-auto">
                    <form action="/company/offer/1/detail/delete" method="post">
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-danger mb-3">제안취소</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr>

            <div class="pt-5 mt-3">
                <div class="border border-tertiary px-3 py-3 pt-3 d-inline-flex ms-2 me-3 mb-3 w-100">
                    <div>
                        <img src="/images/person01.jpg" alt="프로필 사진" style="width: 188px; height: 226px;">
                    </div>
                    <table class="mx-4 resume_table">
                        <tr>
                            <td style="width: 120px">이름</td>
                            <td>이력서이름</td>
                        </tr>
                        <tr>
                            <td>생년월일</td>
                            <td>이력서생년월일</td>
                        </tr>
                        <tr>
                            <td>연락처</td>
                            <td>이력서전화</td>
                        </tr>
                        <tr>
                            <td>주소</td>
                            <td>이력서주소</td>
                        </tr>
                        <tr>
                            <td>이메일</td>
                            <td>이력서이메일</td>
                        </tr>
                    </table>
                </div>
                <div class="mt-5">
                    <h4>커리어</h4>
                    <textarea style="max-height: 150px; overflow-y: auto;" class="w-100 mb-5 opacity-80" rows="10" readOnly>이력서커리어</textarea>
                    <h4>간단 소개</h4>
                    <textarea style="max-height: 150px; overflow-y: auto;" class="w-100 mb-5 opacity-80" rows="10" readOnly>이력서간단소개</textarea>
                    <h4>포트폴리오 주소</h4>
                    <input type="url" class="form-control mt-2" id="" style="display: block;"
                           value="http://qmfmqfqmf" readOnly>
                </div>
                <div class="mt-5 jh_resume_skill">
                    <h4>기술스택</h4>
                </div>
                <div class="mt-5 w-100">
                    <h4>자기소개</h4>
                    <textarea  style="max-height: 150px; overflow-y: auto;" class="w-100 opacity-80" rows="10" readOnly>이력서소개
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div>

{{> layout/footer}}