{{> layout/header}}
<div class="container d-flex">

    <section class="container grid-gap: 50px; mt-5">
        <div class="d-flex justify-content-start align-items-center">
            <h1 class="m-3">등록한 공고</h1>
            <div class="d-flex justify-content-center ">
                <a href="/company/post/saveForm" class="btn btn-outline-primary" style="width: 100%;">새 공고 만들기</a>
            </div>
        </div>
        <br>
        <ul class="row row-cols-4 gap-3">
            <!-- 구인공고 시작 -->
            {{#postList}}
                <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
                    <a href="/company/post/detail/{{id}}" style="text-decoration: none; color: black">
                        <div style="width: 240px; height:125px; overflow: hidden">
                            <!--                        이미지 에스알씨를 디비에서 받아오게 해야 한다. -->
                            <img src="/images/{{profile}}" class="card-img-top" alt="이력서 사진"/>
                        </div>
                        <div class="card-body">
                            <h5 class="card-text" style="
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          ">{{title}}</h5>
                            {{#skillList}}
                                <div style=" margin: 5px;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            "><span>{{.}}</span></div>
                            {{/skillList}}
                            <p style="  margin: 5px;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          "><span>{{career}}</span> | <span>{{workingArea}}</span></p>
                        </div>
                    </a>
                    <!-- 삭제하기 버튼 아직 안 됨(디테일에서는 됨) -->
                    <form action="/company/post/detail/{{id}}/delete" method="post" class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-danger mb-3" style="width: 100%">삭제하기</button>
                    </form>
                </li>
            {{/postList}}
        </ul>
    </section>
    <!-- list-group( 오른쪽 바로가기) 시작 -->
    <div class="list-group mx-2">
        <a href="/company/info" class="list-group-item shadow " style="width: 180px;">회사 정보 관리</a>
        <a href="/company/post" class="list-group-item shadow">공고 관리</a>
        <a href="/company/resume" class="list-group-item hs_list_effect shadow">받은 이력서</a>
        <a href="/company/scrap" class="list-group-item shadow">스크랩한 이력서</a>
        <a href="/company/offers" class="list-group-item shadow">제안한 이력서</a>
    </div>
    <!-- list-group( 오른쪽 바로가기) 끝 -->
</div>
<div class="container mt-5 mb-5">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">이전</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">다음</a>
            </li>
        </ul>
    </nav>
</div>
<!-- 페이지네이션 -->
{{> layout/footer}}