{{> layout/header}}
<!-- 공고 본체  -->
<div class="container justify-content-center mt-4 mb-5">
    <div class="border hs_content_box w-100 mx-2 mt-4 rounded shadow">
        <div class="px-5 pt-5 pb-2">
        </div>
        <div class="px-5">
            <div class="d-flex justify-content-start align-items-center">
                <h3 class="">{{resume.title}}</h3>
                <div class="d-flex justify-content-center mx-4">
                    <a href="#" class="btn btn-outline-primary mb-3" style="width: 100%">지원하기</a>
                </div>
            </div>
            <hr class="d-inline-flex w-100">
            <div class="pt-2 mt-3">
<!--                <div class="border border-tertiary px-3 py-3 pt-3 d-inline-flex ms-2 me-3 mb-3 w-100">-->
<!--                    <div>-->
<!--                        <img src="/images/company1.png" alt="이력서 사진" style="width: 100%; height: 226px;">-->
<!--                    </div>-->
<!--                    <table class="mx-4">-->
<!--                        <tr>-->
<!--                            <td>-->
<!--                                <h4>제2금융권(보험,증권) 서버 운영 업무 수행 구성원 영입</h4>-->
<!--                            </td>-->
<!--                            &lt;!&ndash; <td>SK C&C 주식회사</td> &ndash;&gt;-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>경력</td>-->
<!--                            <td>미들 (4~8년)</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>최소 연봉</td>-->
<!--                            <td>회사 내규에 따름</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>마감일</td>-->
<!--                            <td>채용 시 마감</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>회사명</td>-->
<!--                            <td><a href="#" style=" color: black; font-weight: bold;">SK(주) C&C</a></td>-->
<!--                            &lt;!&ndash; TODO: 가능하다면 이 회사의 진행 중인 채용 공고 모음을 만들어보자 &ndash;&gt;-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </div>-->
<!--                <div class="mt-5">-->
<!--                    <h4><b>SK(주) C&C, 어떤 곳인가요?</b></h4>-->
<!--                    <p>-->
<!--                        SK(주) C&C, 어떤 곳인가요?<br>-->
<!--                        2025년 사업가치 50조의 Global Top 10 ICT Company<br>-->
<!--                        Vison Slogan<br>-->
<!--                        Creative ICT Factory<br>-->
<!--                        <br>-->
<!--                        Vison Statement<br>-->
<!--                        -SK주식회사 C&C는 IT/ICT 전 영역에서의 다양한 융합을 통한 "Creative Bussiness Model" 로 시장을 선도합니다.<br>-->
<!--                        -"산업에 대한 Insight와 ICT 기술"을 토대로 고객의 Value를 지속적으로 창출합니다.<br>-->
<!--                        -구성원 모두의 창의성이 자유롭게 발현될 수 있도록 "ICT를 통한 꿈의 실현 공간"을 지향합니다.<br>-->
<!--                        <br>-->
<!--                        SK주식회사 C&C의 새로운 비전은 IT/ICT에 대한 전문 기술력과 다양한 산업에 대한 통찰력을 기반으로, 고객의 가치와 산업 전반의 혁신을 선도하는 Global-->
<!--                        ICT 회사로 도약하고자 한다는 의미를 담고 있습니다.<br>-->
<!--                        <br>-->
<!--                        ICT 중심으로 변화할 미래 세상을 이끌어가기 위해 SK주식회사 C&C의 구성원 모두는 끊임없이 노력해 나가겠습니다.<br>-->
<!--                        <br>-->
<!--                        제2금융권(보험,증권) 서버 운영 업무 수행 구성원 영입, 어떤 일을 하나요?<br>-->
<!--                        제2금융권(보험,증권) 서버 운영 업무 수행 구성원 영입<br>-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="mt-5 task">-->
<!--                    <h4>주요업무</h4>-->
<!--                    <ul>-->
<!--                        <li>시스템 운영(IBM AIX, Windows서버, VMware등), 장애 및 오류, 시스템 자원, 서버 설치 및 구성, EOL/EOS 관리</li>-->
<!--                        <li>서비스 수준, 자산, 작업/변경, 보안 취약점, 패치, 모니터링, 산출물, 백업/복구/재해복구 관리</li>-->
<!--                        <li>프로젝트 설치 계획 및 구성, 성능 및 가용성 검토 등</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="mt-5 qualification">-->
<!--                    <h4>자격요건</h4>-->
<!--                    <ul>-->
<!--                        <li>금융권 프로젝트를 경험하신 분</li>-->
<!--                        <li>인프라 설계/구축 경험을 보유하신 분</li>-->
<!--                        <li>고객 커뮤니케이션 및 프레젠테이션 스킬을 보유하신 분</li>-->
<!--                        <li>대규모 SI 프로젝트를 경험하신 분</li>-->
<!--                    </ul>-->
<!--                </div>-->
                <div class="d-flex justify-content-center">
                    <div style="width: 85%;">
                        <div class="jh_resume_flexbox mt-3">
                            <!-- 이미지를 올리면 그게 올라가고 올리지 않으면 기본 프로필이 올라감 -->
                            <img src="{{resume.profile}}" alt="프로필 사진" style="width: 188px; height: 226px;">
                            <table class="resume_table">
                                <tr>
                                    <td>이름</td>
                                    <td>{{resume.username}}</td>
                                </tr>
                                <tr>
                                    <td>생년월일</td>
                                    <td>{{resume.birth}}</td>
                                </tr>
                                <tr>
                                    <td>연락처</td>
                                    <td>{{resume.tel}}</td>
                                </tr>
                                <tr>
                                    <td>주소</td>
                                    <td>{{resume.address}}</td>
                                </tr>
                                <tr>
                                    <td>이메일</td>
                                    <td>{{resume.email}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="mt-5">
                            <h4>커리어</h4>
                            <textarea name="" class="w-100 opacity-50" rows="10" readOnly>{{resume.career}}
                            </textarea>
                            <h4>간단 소개</h4>
                            <textarea name="" class="w-100 opacity-50" rows="10" readOnly>{{resume.simpleIntroduce}}
                            </textarea>
                            <h4>포트폴리오 주소</h4>
                            <input type="url" class="form-control mt-2" id="" style="display: block;"
                                   value="{{resume.portfolio}}" readOnly>
                        </div>
                        <div class="mt-5 jh_resume_skill">
                            <h4>기술스택</h4>
                            <div>
                                <ul>
                                    {{#resume.skill}}
                                        <li>{{.}}</li>
                                    {{/resume.skill}}
                                </ul>
                            </div>
                        </div>
                        <div class="mt-5 w-100">
                            <h4>자기소개</h4>
                            <textarea name="" class="w-100 opacity-50" rows="10" readOnly>{{resume.introduce}}
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 모달 -->
<div id="applyModal" class="modal fade" style="display: none;" id="">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="">나의 이력서</h4>
                <button type="button" class="btn-close"></button>
            </div>
            <div class="modal-body">
                <form action="#" method="post">
                    <!-- 이력서 선택하는 부분 시작 -->
                    <div class="px-5 mt-5">
                        <h5><b>구직 제안 메일 제목</b></h5>
                        <input class="form-control" type="text" name="title" required>
                        <div class="pt-4">
                            <hr class="d-inline-flexw-100">
                        </div>
                        <div class="pt-2 mt-4">
                            <div class="mt-4">
                                <h5><b>메일 내용</b></h5>
                                <div class="border border-tertiary p-3 d-inline-flex me-3 mb-3 w-100">
                                    <input class="form-control border-0" type="text" name="cIntro" required>
                                </div>
                            </div>
                            <div class="mt-4">
                                <h5><b>채용공고 선택</b></h5>
                                <select name="pay" class="jm_select selectpicker" data-style="btn-info"
                                        style=" height: 35px;">
                                    <option value="면접 후 결정" selected>웹디자이너</option>
                                    <option value="2000만원">프로그래머</option>
                                    <option value="3000만원">회계</option>
                                    <option value="4000만원">경영</option>
                                </select>
                            </div>
                            <div class="mt-4 mb-4">
                                <h5><b>기업 정보</b></h5>
                                <div class="border border-tertiary ps-5 pe-2 pt-3 d-inline-flex mb-3 w-100">
                                    <table class="table table-borderless pt-5 ms-5">
                                        <tr class="pb-5">
                                            <th>사원수</th>
                                            <td>25명</td>
                                            <th>대표자</th>
                                            <td>최주호</td>
                                        </tr>
                                        <tr>
                                            <th>설립년도</th>
                                            <td>2020-03-05</td>
                                            <th>전화번호</th>
                                            <td>010-1234-5678</td>
                                        </tr>
                                        <tr>
                                            <th>주소</th>
                                            <td>부산시 해운대구 모처</td>
                                            <th>이메일</th>
                                            <td>ssar@nate.com</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="text-center mt-5 mb-5">
                                <button type="submit" class="btn btn-dark w-50">메일보내기</button>
                            </div>
                        </div>
                    </div>
                    <!-- 이력서 선택하는 부분 끝 -->
                    <hr>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-dark mx-2">새로 작성</button>
                        <!-- 이력서가 선택되어야 제출하기가 활성화되게 합시다. -->
                        <button type="submit" class="btn init_color">제출하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{> layout/footer}}