{{> layout/header}}

<!-- TODO: value 설정해 놓음. 나중에 빼야함 -->
<div class="container d-flex">
    <div class="justify-content-center mx-2 pb-4 w-100">
        <div class="border border-tertiary p-5 rounded shadow">
            <h1 class="d-inline-flex">공고 등록하기</h1>
            <hr>
            <div class="upload px-5 mt-5">
                <!--                <form action="/upload" method="post">-->
                <!--                    <div>-->
                <!--                        <input type="text" name="title" placeholder="사진제목...">-->
                <!--                        <input type="file" name="imgFile">-->
                <!--                        <button>사진업로드</button>-->
                <!--                    </div>-->
                <!--                </form>-->
                <!--                <div id="companyLogo"-->
                <!--                     class="rounded mx-auto d-block rounded-4 mt-5 my-3 w-25 "></div>-->
            </div>
            <!--            <ul class="image-preview rounded mx-auto d-block rounded-4 mt-5 my-3 w-25"></ul>-->
            <!--            <input type="file" class="real-upload mx-auto d-block mt-5 my-3 w-25" accept="image/*" required multiple>-->
            <form action="/company/post/save" method="post">
                <!-- enctype="multipart/form-data" -->
                <input type="hidden" id="companyId">
                <div class="px-5 mt-5">
                    <!-- 이미지 업로드 시작 -->
                    <div>
                        <div class="d-flex justify-content-center mb-5">
                            <div class=" d-flex d-flex justify-content-center align-items-center"
                                 style="width: 200px; height: 150px; border: 1px solid #e6e6e6; color: #e6e6e6;"
                                 id="profilePreview"><b>사진을 등록해 주세요.</b></div>
                        </div>
                        <input class="mb-4" type="file" id="profile" name="profile" accept="image/*">

                        <script>
                            $('#profile').change(function () {
                                let input = this;
                                if (input.files && input.files[0]) {
                                    let reader = new FileReader();

                                    reader.onload = function (e) {
                                        $('#profilePreview').html('<img src="' + e.target.result + '" style="max-width: 100%;">');
                                        // let fileName = input.files[0].name;
                                        // $('#profile').val(fileName);
                                        // console.log(fileName);
                                    };

                                    reader.readAsDataURL(input.files[0]);

                                    // 파일명 출력
                                    let fileName = input.files[0].name;
                                    $('#profile').val(fileName);
                                    console.log(fileName);
                                }
                            });
                        </script>
                        <!-- 이미지 업로드 끝 -->
                    </div>
                    <label for="companyName"><b>공고명</b></label>
                    <input class="form-control" type="text" name="title" id="companyName" value="[인턴] 프론트엔드 개발자 (JavaScript)" required>
                    <div class="pt-4">
                        <hr class="d-inline-flex w-100">
                    </div>

                    <div class="pt-2 mt-4">
                        <div class="border border-tertiary pt-3 d-inline-flex me-3 mb-3 w-100">
                            <table class="table table-borderless pt-5 ms-3">
                                <tr class="pb-5">
                                    <th><label for="career">경력</label></th>
                                    <td>
                                        <select id="career" name="career" class="jm_select selectpicker"
                                                data-style="btn-info"
                                                style=" height: 35px;">
                                            <option value="경력무관" selected>경력무관</option>
                                            <option value="인턴">인턴</option>
                                            <option value="신입(1년 이하)">신입(1년 이하)</option>
                                            <option value="주니어(1~3년)">주니어(1~3년)</option>
                                            <option value="미들(9년 이상)">미들(9년 이상)</option>
                                            <option value="Lead레벨">Lead레벨</option>
                                        </select>
                                    </td>
                                    <th><label for="pay">연봉</label></th>
                                    <td>
                                        <select id="pay" name="pay" class="jm_select selectpicker" data-style="btn-info"
                                                style=" height: 35px;">
                                            <option value="회사 내규에 따름" selected>회사 내규에 따름</option>
                                            <option value="2000만원">2000만원</option>
                                            <option value="3000만원">3000만원</option>
                                            <option value="4000만원">4000만원</option>
                                            <option value="5000만원 이상">5000만원 이상</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label for="condition">근무 조건</label></th>
                                    <td>
                                        <select id="condition" name="condition" class="jm_select selectpicker"
                                                data-style="btn-info" style=" height: 35px;">
                                            <option value="계약직">계약직</option>
                                            <option value="정규직" selected>정규직</option>
                                        </select>
                                    </td>
                                    <th><label>근무 시간</label></th>
                                    <th style="display: none"></th>
                                    <th style="display: none"></th>
                                    <td class="d-flex">
                                        <label for="workStartTime">근무 시작 시간</label>
                                        <input class="form-control" type="time" style="width: 38%;" name="workStartTime"
                                               id="workStartTime" value="09:00" required>
                                        <label for="workEndTime">근무 종료 시간</label>
                                        <input class="form-control" type="time" style="width: 38%;" name="workEndTime"
                                               id="workEndTime" value="18:00" required>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="mt-4">
                            <label for="deadline"><b>마감 일자</b></label>
                            <div class="border border-tertiary p-3 d-inline-flex me-3 mb-3 w-100">
                                <input class="form-control" type="date" id="deadline" name="deadline"  value="2024-04-17" required>
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="tasks"><b>주요 업무</b></label>
                            <div class="border border-tertiary p-3 d-inline-flex me-3 mb-3 w-100">
                                <input class="form-control border-0" id="tasks" type="text" name="tasks"  value="VanillaJS (ES6) 를 기반으로 프론트엔드 기능을 개발하고 배포합니다." required>
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="workingArea"><b>근무 지역</b></label>
                            <div class="border border-tertiary p-3 d-inline-flex me-3 mb-3 w-100">
                                <input class="form-control border-0" id="workingArea" type="text" name="workingArea"value="경기 성남시 분당구"
                                       required>
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="workCondition"><b>혜택 및 복지</b></label>
                            <div class="border border-tertiary p-3 d-inline-flex me-3 mb-3 w-100">
                                <input class="form-control border-0" id="workCondition" type="text" name="workCondition" value="처우는 채용 전형 진행 후 합격자에 대해 개인 별 협의 예정"
                                       required>
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="skills"><b>기술/자격 조건</b></label>
                            <div class="p-3 d-inline-flex mb-3 w-100">
                                <div class="row row-cols-auto gap-3 justify-content-center my-3">
                                    <input type="checkbox" class="btn-check" id="java" value="java" name="skill"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="java">java</label>

                                    <input type="checkbox" class="btn-check" id="spring" value="spring" name="skill"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="spring">spring</label>

                                    <input type="checkbox" class="btn-check" id="html" value="html" name="skill"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="html">html</label>

                                    <input type="checkbox" class="btn-check" id="javaScript" value="javaScript"
                                           name="skill"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="javaScript">javascript</label>

                                    <input type="checkbox" class="btn-check" id="sql" value="sql" name="skill"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="sql">sql</label>

                                    <input type="checkbox" class="btn-check" id="android" value="android" name="skill"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="android">android</label>

                                    <input type="checkbox" class="btn-check" id="react" value="react" name="skill"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="react">React</label>

                                    <input type="checkbox" class="btn-check" id="nodeJs" value="nodeJs" name="skill"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="nodeJs">Node.js</label>

                                    <input type="checkbox" class="btn-check" id="express" value="express" name="skill"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="express">Express</label>

                                    <input type="checkbox" class="btn-check" id="flutter" value="flutter" name="skill"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="flutter">Flutter</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-outline-danger mb-3"
                                    style="width: 100%">등록하기
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- list-group( 오른쪽 바로가기) 시작 -->
    <div class="list-group mx-2">
        <a href="/company/info" class="list-group-item shadow " style="width: 180px;">회사 정보 관리</a>
        <a href="/company/post" class="list-group-item shadow">공고 관리</a>
        <a href="/company/resume" class="list-group-item hs_list_effect shadow">받은 이력서</a>
        <a href="/company/scrap" class="list-group-item shadow">스크랩한 이력서</a>
        <a href="/company/offers" class="list-group-item shadow">제안한 이력서</a>
    </div>
    <!-- list-group( 오른쪽 바로가기) 끝 -->
</div>
{{> layout/footer}}