{{> layout/header}}
<!--<div class="container justify-content-center mt-4 mb-5">-->
<div class="container d-flex">
    <div class="border hs_content_box w-100 mx-2 b-5 rounded shadow">
        <div class="px-5 pt-5 pb-2">
        </div>
        <div class="px-5">
            <input style="display: none" id="companyId">
            <div class="d-flex justify-content-start align-items-center">
                <h3 class="title">{{post.title}}</h3>
            </div>
            <hr class="d-inline-flex w-100">
            <div class="pt-2 mt-3">
                <div class="border border-tertiary px-3 py-3 pt-3 d-inline-flex ms-2 me-3 mb-3 w-100">
                    <div>
                        <img src="{{post.profile}}" alt="이력서 사진" style="width: 100%; height: 226px;">
                    </div>
                    <table class="mx-4">
                        <tr>
                            <td>경력</td>
                            <td>{{post.career}}</td>
                        </tr>
                        <tr>
                            <td>최소 연봉</td>
                            <td>{{post.pay}}</td>
                        </tr>
                        <tr>
                            <td>마감일</td>
                            <td>{{post.deadline}}</td>
                        </tr>
                        <tr>
                            <td>회사명</td>
                            <td><a href="#" style=" color: black; font-weight: bold;">인프런</a></td>
                            <!-- TODO: 가능하다면 이 회사의 진행 중인 채용 공고 모음을 만들어보자 -->
                        </tr>
                    </table>
                </div>
                <div class="mt-5">
                </div>
                <div class="mt-5 task">
                    <h4>주요 업무</h4>
                    <div>{{post.task}}</div>
                </div>
                <div class="mt-5 working-time">
                    <h4>근무 시간</h4>
                    <div>{{post.workStartTime}} ~ {{post.workEndTime}}</div>
                </div>
                <div class="mt-5 working-time">
                    <h4>근무 지역</h4>
                    <div>{{post.workingArea}}</div>
                </div>
                <div class="mt-5 working-time">
                    <h4>혜택 및 복지</h4>
                    <div>{{post.workCondition}}</div>
                </div>
                <div class="mt-5 qualification">
                    <h4>필요 스킬</h4>
                    <div class="d-flex justify-content-start">
                        <div class="row row-cols-auto gap-3 justify-content-start my-3" style="width: 70%;">
                            <div class="btn btn-outline-primary mx-3 disabled">Java</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
<!--                <a href="/company/post/detail/{id}/updateForm" class="btn btn-outline-success mb-3"-->
<!--                        style="width: 100%">수정하기-->
<!--                </a> -->
                <a href="/company/post/detail/{{id}}/updateForm" class="btn btn-outline-success mb-3"
                        style="width: 100%">수정하기
                </a>
            </div>
        </div>
    </div>
    <!-- list-group( 오른쪽 바로가기) 시작 -->
    <div class="list-group mx-2">
        <a href="/view/company/info.html" class="list-group-item shadow " style="width: 180px;">회사 정보 관리</a>
        <a href="/view/company/posts.html" class="list-group-item shadow">공고 관리</a>
        <a href="/view/company/getResume.html" class="list-group-item hs_list_effect shadow">받은 이력서</a>
        <a href="/view/company/scrap.html" class="list-group-item shadow">스크랩한 이력서</a>
        <a href="/view/company/offers.html" class="list-group-item shadow">제안한 이력서</a>
    </div>
    <!-- list-group( 오른쪽 바로가기) 끝 -->
</div>


{{> layout/footer}}