{{> layout/header}}
<div class="container d-flex">
    <div class="justify-content-center mx-2 pb-4 w-100">
        <div class="border border-tertiary p-5 rounded shadow">
            <h1 class="d-inline-flex">공고 등록하기</h1>
            <hr>
            <div class="upload"><img src="/images/naver.png" id="companyLogo" class="rounded mx-auto d-block rounded-4 mt-5 my-3 w-25"/></div>
            <ul class="image-preview rounded mx-auto d-block rounded-4 mt-5 my-3 w-25"></ul>
            <input type="file" class="real-upload mx-auto d-block mt-5 my-3 w-25" accept="image/*" required multiple>
            <form action="/company/post/save" method="post">
                <div class="px-5 mt-5">
                    <label for="companyName"><b>공고명</b></label>
                    <input class="form-control" type="text" name="title" id="companyName" required>
                    <div class="pt-4">
                        <hr class="d-inline-flex w-100">
                    </div>

                    <div class="pt-2 mt-4">
                        <div class="border border-tertiary pt-3 d-inline-flex me-3 mb-3 w-100">
                            <table class="table table-borderless pt-5 ms-3">
                                <tr class="pb-5">
                                    <th><label for="career">경력</label></th>
                                    <td>
                                        <select id="career" name="career" class="jm_select selectpicker" data-style="btn-info"
                                                style=" height: 35px;">
                                            <option value="0" selected>신입</option>
                                            <option value="1">1년차 이상</option>
                                            <option value="3">3년차 이상</option>
                                            <option value="5">5년차 이상</option>
                                        </select>
                                    </td>
                                    <th><label for="pay">연봉</label></th>
                                    <td>
                                        <select id="pay" name="pay" class="jm_select selectpicker" data-style="btn-info"
                                                style=" height: 35px;">
                                            <option value="면접 후 결정" selected>면접 후 결정</option>
                                            <option value="2000만원">2000만원</option>
                                            <option value="3000만원">3000만원</option>
                                            <option value="4000만원">4000만원</option>
                                            <option value="5000만원 이상">5000만원 이상</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th><label for="condition">근무 조건</label></th>
                                    <td>
                                        <select id="condition"  name="condition" class="jm_select selectpicker"
                                                data-style="btn-info" style=" height: 35px;">
                                            <option value="계약직" selected>계약직</option>
                                            <option value="정규직">정규직</option>
                                        </select>
                                    </td>
                                    <th><label>근무 시간</label></th>
                                    <th style="display: none"><label for="startHour">근무 시작 시간</label></th>
                                    <th style="display: none"><label for="endHour">근무 종료 시간</label></th>
                                    <td class="d-flex">
                                        <input class="form-control" type="time" style="width: 38%;" name="startHour" id="startHour" value="09:00" required>
                                        <input class="form-control" type="time" style="width: 38%;" name="endHour" id="endHour" value="18:00" required>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="mt-4">
                            <label for="deadline"><b>마감 일자</b></label>
                            <div class="border border-tertiary p-3 d-inline-flex me-3 mb-3 w-100">
                                <input class="form-control" type="date" id="deadline" name="deadline" required>
                            </div>
                        </div>

                        <div class="mt-4">
                            <h5><b>기업 소개</b></h5>
                            <div class="border border-tertiary p-3 d-inline-flex me-3 mb-3 w-100">
                                <input class="form-control border-0" type="text" name="cIntro" required>
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="tasks"><b>업무</b></label>
                            <div class="border border-tertiary p-3 d-inline-flex me-3 mb-3 w-100">
                                <input class="form-control border-0"  id="tasks" type="text" name="tasks" required>
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="skills"><b>기술/자격 조건</b></label>
                            <div class="p-3 d-inline-flex mb-3 w-100">
                                <div class="row row-cols-auto gap-3 justify-content-center my-3">
<!--                                    이거 스킬 테이블에서 가져와서 포문 돌려야 함-->
                                    <!-- 스킬1 -->
                                    <input type="checkbox" name="skills" class="btn-check" id="java" value="java"
                                           autocomplete="off">
                                    <label class="btn btn-outline-primary" for="java">JAVA</label>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 mb-4">
                            <h5><b>기업 정보</b></h5>
                            <div class="border border-tertiary ps-5 pe-2 pt-3 d-inline-flex mb-3 w-100">
                                <table class="table table-borderless pt-5 ms-5">
                                    <tr class="pb-5">
                                        <th>사원수</th>
                                        <td>25명</td>
                                        <th>대표자</th>
                                        <td>최주호</td>
                                    </tr>
                                    <tr>
                                        <th>설립년도</th>
                                        <td>2020-03-05</td>
                                        <th>전화번호</th>
                                        <td>010-1234-5678</td>
                                    </tr>
                                    <tr>
                                        <th>주소</th>
                                        <td>부산시 해운대구 모처</td>
                                        <th>이메일</th>
                                        <td>ssar@nate.com</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-outline-danger mb-3"
                               style="width: 100%">등록하기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- list-group( 오른쪽 바로가기) 시작 -->
    <div class="list-group mx-2">
        <a href="/view/company/info.html" class="list-group-item shadow " style="width: 180px;">회사 정보 관리</a>
        <a href="/view/company/posts.html" class="list-group-item shadow">공고 관리</a>
        <a href="/view/company/getResume.html" class="list-group-item hs_list_effect shadow">받은 이력서</a>
        <a href="/view/company/scrap.html" class="list-group-item shadow">스크랩한 이력서</a>
        <a href="/view/company/offers.html" class="list-group-item shadow">제안한 이력서</a>
    </div>
    <!-- list-group( 오른쪽 바로가기) 끝 -->
</div>
{{> layout/footer}}