{{> /layout/header}}

<div class="container d-flex">
    <div class=" mx-2 pb-4 w-100">
        <div class=" border border-tertiary p-5 rounded shadow">
            <div class="d-flex justify-content-between">
                <h1 class=" d-inline-flex">{{user.name}}님의 정보</h1>
            </div>
            <hr/>
            <div class="container w-50 mt-5 text ">

                <form action="/person/info/update-form" method="get">
                    <div class="px-5 mt-5">
                        <img src="/images/{{user.profile}}" id="profile" class="mx-auto d-block mt-5 my-3 w-50 h-50">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text justify-content-center hs_span_size init_color hs_span">이름</span>
                        <input type="text" class="form-control" value="{{user.name}}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text justify-content-center hs_span_size init_color hs_span">생년월일</span>
                        <input type="text" class="form-control" value="{{user.birth}}" id="" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text justify-content-center hs_span_size init_color hs_span">연락처</span>
                        <input type="text" class="form-control" value="{{user.tel}}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text justify-content-center hs_span_size init_color hs_span">주소</span>
                        <input type="text" class="form-control" value="{{user.address}}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text justify-content-center hs_span_size init_color hs_span">이메일</span>
                        <input type="text" class="form-control" value="{{user.email}}" readonly>
                    </div>

                    <hr class="my-4">
                    <div style="width: 100%;">
                        <button type="submit" class="btn btn-outline-success mb-3"
                                style="width: 100%">수정하기
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="list-group mx-2">
        <a href="/person/info" class="list-group-item shadow " style="width: 150px;">회원정보관리</a>
        <a href="/person/resume" class="list-group-item shadow">이력서관리</a>
        <a href="/person/scrap" class="list-group-item hs_list_effect shadow">스크랩한 공고</a>
        <a href="/person/offers" class="list-group-item shadow">받은 제안</a>
        <a href="/person/apply" class="list-group-item shadow">지원 현황</a>
    </div>
</div>
<!-- list-group( 오른쪽 바로가기) 시작 -->

<!-- list-group( 오른쪽 바로가기) 끝 -->

{{> /layout/footer}}