{{> layout/header}}
<div style="margin-top: 100px; margin-bottom: 100px;">
    <div class="d-flex justify-content-center mb-4">
        <h2>개인 회원</h2>
    </div>
    <div class="d-flex justify-content-center">
        <div class="border rounded p-3 m-3 shadow" style="width: 300px;">
            <form action="/person/join" method="post">
                <div class="form-group form-floating m-3 mx-auto">
                    <input type="text" name="" class="form-control" id="" required>
                    <label for="">사용자 이름</label>
                </div>
                <div class="form-group form-floating m-3 mx-auto">
                    <input type="email" name="" class="form-control" id="" required>
                    <label for="">Email</label>
                </div>
                <div class="form-group form-floating m-3 mx-auto">
                    <input type="date" class="form-control" id="" value="1989-03-02">
                    <label for="">생년월일</label>
                </div>
                <div class="form-group form-floating m-3 mx-auto">
                    <input type="password" name="password" class="form-control" id="" required>
                    <label for="floatingInput">password</label>
                </div>
                <div class="form-group form-floating m-3 mx-auto">
                    <input type="password" class="form-control" id="" required>
                    <label for="">password check</label>
                </div>

                <!--비밀번호 체크 후 Alert 창을 위해 미리 넣어놓은 div-->
                <div id=""></div>
                <div style="width: 100%;">
                    <button type="submit" href="#" class="btn btn-outline-success mb-3" style="width: 100%">가입하기</button>
                </div>
            </form>
            <div class="text-center sj_login_join">
                <p><a href="/person/loginForm" style="color: #699b22;">이미 회원이신가요?</a></p>
            </div>
        </div>
    </div>
</div>
{{> layout/footer}}