{{> layout/header}}
<!-- 탭 구현 할 것! 지금은 안된 상황-->
<div class="container grid-gap: 50px;">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/person/main">구인</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/company/main">구직</a>
        </li>
        {{#sessionuser}}

            <li class="nav-item">
                <a class="nav-link"
                   href="{{#isMatchingCompany}}/company/matching{{/isMatchingCompany}}{{^isMatchingCompany}}/person/matching{{/isMatchingCompany}}">맞춤공고</a>
            </li>
        {{/sessionuser}}

    </ul>
</div>
<div class="container align-items-center mt-3 border p-3" style="border-radius: 10px;">
    <h5 class="pb-2">맞춤 검색</h5>
    <form>
        <div class="search-top mb-3">
            <div class=" company search d-flex " role="search">
                <input class="form-control me-2" type="search" placeholder="회사/채용공고로 검색" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="search-mid mb-3">
            <div class="d-flex justify-content-between">
                <div style="width: 100%;">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>직군.직무</option>
                        <option value="1">프론트엔드</option>
                        <option value="2">백엔드</option>
                        <option value="3">엔지니어</option>
                    </select>
                </div>
                <div style="width: 100%;">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>경력.지역</option>
                        <option value="1">경력무관</option>
                        <option value="2">인턴</option>
                        <option value="3">신입(1년 이하)</option>
                        <option value="4">주니어(1~3년)</option>
                        <option value="5">미들(9년 이상)</option>
                        <option value="6">Lead레벨</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="search-bottom d-flex justify-content-around align-items-center">
            <div style="width: 30%;">
                <div class=" company search d-flex " role="search">
                    <input class="form-control me-2" type="search" placeholder="기술 스택" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
            <div class="row row-cols-auto gap-3 justify-content-center my-3" style="width: 70%;">
                <input type="checkbox" class="btn-check" id="btn1" value="java" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn1">java</label>
                <input type="checkbox" class="btn-check" id="btn2" value="spring" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn2">spring</label>
                <input type="checkbox" class="btn-check" id="btn3" value="html" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn3">html</label>
                <input type="checkbox" class="btn-check" id="btn4" value="javascript" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn4">javascript</label>
                <input type="checkbox" class="btn-check" id="btn5" value="sql" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn5">sql</label>
                <input type="checkbox" class="btn-check" id="btn6" value="android" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn6">android</label>
                <input type="checkbox" class="btn-check" id="btn7" value="React" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn7">React</label>
                <input type="checkbox" class="btn-check" id="btn8" value="Node.js" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn8">Node.js</label>
                <input type="checkbox" class="btn-check" id="btn9" value="Express" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn9">Express</label>
                <input type="checkbox" class="btn-check" id="btn10" value="Flutter" name="skills" autocomplete="off"/>
                <label class="btn btn-outline-primary" for="btn10">Flutter</label>
            </div>
        </div>
    </form>
</div>
<section class="container grid-gap: 50px; mt-5">
    <ul class="row row-cols-4 gap-3">
        <!-- 구인공고 시작 -->
        {{#postList}}
            <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
                <a href="/post/detail/{{id}}" style="text-decoration: none; color: black">
                    <div style="width: 100%; height: 10rem; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                        <img src="/images/{{profile}}" class="card-img-top" style="width: auto; height: 100%;" alt="이력서 사진"/>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><b style="
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          ">{{title}}</b></h5>
                        <p class="card-text" style="
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom:5px!important;
    ">
                            {{task}}
                        </p>
                        <h6><span>{{career}}</span></h6>
                        <h6><span>{{workingArea}}</span></h6>
                        <div class="d-flex justify-content-start" style="
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                ">
                            <h6><span>{{#skill}}
                                <button class="btn btn-outline-warning btn-sm disabled">
                                    {{.}}
                                </button>{{/skill}}</span></h6>
                        </div>

                    </div>
                </a>

            </li>
        {{/postList}}
        <!-- 구인공고 끝 -->
    </ul>
</section>
{{> layout/footer}}