{{> layout/header}}
<div class="container grid-gap: 50px;">
    <!-- 유형별 공고 탭 시작 -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/person/main">구인</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/company/main">구직</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link active" href="/person/matching">맞춤공고</a>
        </li>
    </ul>
    <!-- 유형별 공고 탭 끝 -->
</div>
<!-- 검색 -->
<div class="container align-items-center mt-3 border p-3" style="border-radius: 10px;">
    <form action="/person/match" method="post">
        <div class="d-flex justify-content-start align-items-center ">
            <h5 class="pb-2">이력서별 인재 찾기</h5>
            <div class="search-top mx-3 mb-3 d-flex justify-content-between">

                <button class="btn btn-outline-success" type="submit">
                    <!-- 검색 -->
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="search-mid">
            <div class="d-flex justify-content-between">
                <div style="width: 100%;">

                    <select class="form-select" aria-label="Default select example" id="resumeChoice" name="resumeChoice">
                        <option selected>이력서 선택</option>
                        이력서반복문
                        <option value="이력서아이디">이력서제목</option>
                    </select>

                </div>
            </div>
        </div>
    </form>
</div>
<section class="container grid-gap: 50px; mt-5">
    <h1>회사추천</h1>
    <br>
    <ul class="row row-cols-4 gap-3">
        <!-- 구인공고 시작 -->
        공고반복문
        <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
            <a href="/post/detail/1" style="text-decoration: none; color: black">
                <div style="width: 100%; height: 15rem; overflow: hidden">
                    <img src="/images/사진경로" class="card-img-top" alt="이력서 사진"/>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b style="
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          ">공고제목</b></h5>
                    <p class="card-text" style="
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    ">
                        일
                    </p>
                    <h6><span>커리어</span>|<span>근무지</span></h6>
                    <h6><span>스택</span>|<span>스킬</span></h6>
                </div>
            </a>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-outline-primary mb-3" style="width: 100%">스크랩하기</a>
            </div>
        </li>
        <!-- 구인공고 끝 -->
    </ul>
</section>
{{> layout/footer}}