{{> layout/header}}
<div class="container grid-gap: 50px;">
    <!-- 유형별 공고 탭 시작 -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/person/main">구인</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/company/main">구직</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link active" href="/person/matching">맞춤공고</a>
        </li>
    </ul>
    <!-- 유형별 공고 탭 끝 -->
</div>
<!-- 검색 -->
<div class="container align-items-center mt-3 border p-3" style="border-radius: 10px;">
    <form id="searchForm"  action="/person/match" method="post">
        <div class="d-flex justify-content-start align-items-center ">
            <h5 class="pb-2">이력서별 인재 찾기</h5>
            <div class="search-top mx-3 mb-3 d-flex justify-content-between">
                <button id="searchButton"  class="btn btn-outline-success" type="submit">
                    <!-- 검색 -->
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="search-mid">
            <div class="d-flex justify-content-between">
                <div style="width: 100%;">
                    <select class="form-select" aria-label="Default select example" id="resumeChoice" name="resumeChoice">
                        <option selected disabled>이력서를 선택해 주세요.</option>
                        {{#resumeList}}
                        <option value="{{id}}">{{title}}</option>
                        {{/resumeList}}
                    </select>
                </div>
            </div>
        </div>
    </form>
    <script>
        $("#searchForm").submit(function () {
            let selectedOption = $("#resumeChoice").val();
            if (!selectedOption) {
                alert("이력서를 선택해 주세요.");
                return false;
            }
        });
        $("#resumeChoice").change(function () {
            let selectedOption = $(this).val();
            let searchButton = $("#searchButton");
            searchButton.prop("disabled", !selectedOption);
        });
    </script>
</div>
<section class="container grid-gap: 50px; mt-5">
    <h1>회사추천</h1>
    <br>
    <ul class="row row-cols-4 gap-3">
        <!-- 구인공고 시작 -->
        {{#postList}}
        <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
            <a href="/post/detail/{{id}}" style="text-decoration: none; color: black">
                <div style="width: 100%; height: 10rem; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                    <img src="/images/{{profile}}" class="card-img-top" style="width: auto; height: 100%;" alt="이력서 사진"/>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><b style="
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          ">{{title}}</b></h5>
                    <p class="card-text" style="
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom:5px!important;
    ">
                        {{task}}
                    </p>
                    <h6><span>{{career}}</span></h6>
                    <h6><span>{{workingArea}}</span></h6>
                    <div class="d-flex justify-content-start" style="
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                ">
                        <h6><span>{{#skillList}}
                            <button class="btn btn-outline-warning btn-sm disabled">
                                {{skill}}
                            </button>{{/skillList}}</span></h6>
                    </div>

                </div>
            </a>
        </li>
        {{/postList}}
        <!-- 구인공고 끝 -->
    </ul>
</section>
{{> layout/footer}}