{{> layout/header}}
<!-- 공고 본체  -->
<div class="container justify-content-center mt-4 mb-5">
    <div class="border hs_content_box w-100 mx-2 mt-4 rounded shadow pb-5">
        <div class="px-5 pt-5 pb-2">
        </div>
        <div class="px-5">
            <div class="row align-items-center">
                <!-- title -->
                <div class="col">
                    <h3 style="font-weight: bold">{{post.title}}</h3>
                </div>
                <!-- 스트랩 -->
                <div class="col-auto">
                    <form action="/post/detail/{{post.id}}/scrap" method="post">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-outline-success" type="submit">스크랩하기</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="d-inline-flex w-100">
            <!--  지원, 스크랩 버튼-->
            {{#sessionuser}}
                {{^isMatchingCompany}}
                    <!-- 이력서 선택/보내기 -->
                    <form class="row d-flex justify-content-end g-3 align-items-center" action="/post/detail/{{post.id}}/apply" method="post">
                        <div class="col-auto">
                            <select class="form-select form-select-sm" aria-label="Default select example" id="resumeChoice" name="resumeChoice">
                                <option selected>이력서 선택</option>
                                {{#resumeList}}
                                    <option value="{{id}}">{{title}}</option>
                                {{/resumeList}}
                            </select>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-success btn-sm" type="submit"><i class="far fa-paper-plane"></i></button>
                        </div>
                    </form>
                {{/isMatchingCompany}}
            {{/sessionuser}}
            <div class="pt-5 mt-3">
                <div class="border border-tertiary px-3 py-3 pt-3 d-inline-flex ms-2 me-3 mb-3 w-100">
                    <div>
                        <img src="/images/{{post.profile}}" alt="이력서 사진" style="width: 100%; height: 226px;">
                    </div>
                    <table class="mx-4">
                        <tr>
                            <td>경력</td>
                            <td>{{post.career}}</td>
                        </tr>
                        <tr>
                            <td>최소 연봉</td>
                            <td>{{post.pay}}</td>
                        </tr>
                        <tr>
                            <td>마감일</td>
                            <td>{{post.deadline}}</td>
                        </tr>
                        <tr>
                            <td>회사명</td>
                            <td><a href="#" style=" color: black; font-weight: bold;">ss</a></td>
                        </tr>
                    </table>
                </div>
                <div class="mt-5">
                </div>
                <div class="mt-5 task">
                    <h4>주요 업무</h4>
                    <div>{{post.task}}</div>
                </div>
                <div class="mt-5 working-time">
                    <h4>근무 시간</h4>
                    <div>{{post.workStartTime}} ~ {{post.workEndTime}}</div>
                </div>
                <div class="mt-5 working-time">
                    <h4>근무 지역</h4>
                    <div>{{post.workingArea}}</div>
                </div>
                <div class="mt-5 working-time">
                    <h4>혜택 및 복지</h4>
                    <div>{{post.workCondition}}</div>
                </div>
                <div class="mt-5 qualification">
                    <h4>필요 스킬</h4>
                    <div class="d-flex justify-content-start">
                        <div class="row row-cols-auto gap-3 justify-content-start my-3" style="width: 70%;">
                            <div class="btn btn-outline-primary mx-3 disabled">Java</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> layout/footer}}