{{> layout/header}}
<!-- <div class="container d-flex" style="height: 100vh;"> -->
<div class="container d-flex">
    <section class="container grid-gap: 50px; mt-5">
        <!-- 이력서 추가 버튼 -->
        <div class="d-flex justify-content-start mx-4">
            <h1>이력서 관리</h1>
            <div>
                <a href="/person/resume/saveForm" class="btn btn-outline-primary mb-3 mx-2 mt-2"
                   style="width: 120px">이력서 추가</a>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-start">
            <h3 class=" mx-4">기본 이력서를 선택해 주세요(필수)</h3>
            <a href="#" id="saveButton" class="btn btn-outline-primary mb-3" style="width: 120px">저장하기</a>
        </div>
        <br>
        <ul class="row row-cols-4 gap-3">
            <!-- 이력서 시작 -->
            {{#resumeSkillList}}
                <li class="card col" style="width: 15rem; padding: 0px !important; border: 0">
                    <a href="/person/resume/{{id}}/detail" style="text-decoration: none; color: black">
                        <a href="/person/resume/{{id}}/detail" style="text-decoration: none; color: black">
                            <div style="width: 100%; height: 15rem; overflow: hidden">
                                <img src="/images/{{profile}}" class="card-img-top" alt="이력서 사진"/>
                            </div>

                        <div class="card-body">
                            <h5 class="card-title" style="
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          "><b>{{title}}</b></h5>
                            <h6><span>커리어</span>|<span>{{career}}</span></h6>
                            <p class="card-text" style="
                          display: -webkit-box;
                          -webkit-line-clamp: 2;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        ">
                                {{simpleIntroduce}}
                            </p>
                            <!-- 버튼 구림 -->
                            <div class="d-flex justify-content-start" style="
                          display: -webkit-box;
                          -webkit-line-clamp: 1;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        ">
                                <h6><span>{{#skill}}
                                    <button class="btn btn-outline-warning btn-sm disabled">
                                        {{.}}
                                    </button>{{/skill}}</span></h6>
                            </div>
                        </div>
                    </a>
                    <div class="d-flex justify-content-center">
                        <form action="/person/resume/detail/{{id}}/delete" method="post" style="width: 100%">
                            <button class="btn btn-outline-danger mb-3" style="width: 100%">삭제하기</button>
                        </form>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div id="defaultResume{{id}}" class="default-resume" style="display: none;">
                            <form action="/person/resume/{{id}}/detail" method="post" style="width: 100%">
                                <button class="btn btn-outline-success w-100">기본이력서</button>
                            </form>
                        </div>
                    </div>
                </li>
            {{/resumeSkillList}}
        </ul>
    </section>
    <script>
        document.querySelectorAll('input[name="resumeRadio"]').forEach((radio) => {
            radio.addEventListener('change', function () {
                // 모든 기본 이력서 버튼 숨기기
                document.querySelectorAll('.default-resume').forEach((element) => {
                    element.style.display = 'none';
                });

                // 선택한 라디오 버튼에 해당하는 기본 이력서 버튼 표시
                var resumeId = this.value;
                var defaultResumeDiv = document.getElementById('defaultResume' + resumeId);
                if (this.checked) {
                    defaultResumeDiv.style.display = 'flex';
                }
            });
        });
    </script>
    <!-- list-group( 오른쪽 바로가기) 시작 -->
    <div class="list-group mx-2">
        <a href="/person/info" class="list-group-item shadow " style="width: 150px;">회원정보관리</a>
        <a href="/person/resume" class="list-group-item shadow">이력서관리</a>
        <a href="/person/scrap" class="list-group-item hs_list_effect shadow">스크랩한 공고</a>
        <a href="/person/offerEmails" class="list-group-item shadow">받은 제안</a>
        <a href="/person/apply" class="list-group-item shadow">지원 현황</a>
    </div>
    <!-- list-group( 오른쪽 바로가기) 끝 -->
</div>
<div class="container mt-5 mb-5">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">이전</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">다음</a>
            </li>
        </ul>
    </nav>
</div>
<!-- 페이지네이션 -->

{{> layout/footer}}