{{> layout/header}}
<div class="container d-flex">
    <form action="/person/resume/save" method="post" enctype="multipart/form-data">
        <input type="hidden" id="personId" name="personId" value="{{sessionUser.id}}">
        <div class=" mx-2 pb-4 w-100">
            <div class="border border-tertiary w-100 p-5 rounded shadow">
                <label style="margin-left: 95px;" for="title">*이력서를 작성해 주세요.</label>
                <h1 class="mx-5 mb-3">
                    <input type="text" placeholder="이력서 제목을 입력하세요" style="width: 700px; border: none;"
                           class="hs_input_title mx-5" name="title" value="" autofocus/>
                </h1>
                <!-- 이미지 업로드 시작 -->

                <div>
                    <div class="upload d-flex justify-content-center mb-5">
                        <div class=" d-flex d-flex justify-content-center align-items-center"
                             style="width: 200px; height: 150px; border: 1px solid #e6e6e6; color: #e6e6e6;"
                             id="profilePreview"><b>사진을 등록해 주세요.</b>
                        </div>
                    </div>
                </div>

                <div class="container" style="width: 85%;">
                    <div class="d-flex row justify-content-center">
                        <div class="jh_resume_flexbox mt-3">
                            <div class="jh_resume_personal_info">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control mt-2" accept="image/*"
                                           name="profile" id="profile" multiple required/>
                                    <script>
                                        $('#profile').change(function () {
                                            let input = this;
                                            if (input.files && input.files[0]) {
                                                let reader = new FileReader();

                                                reader.onload = function (e) {
                                                    $('#profilePreview').html('<img src="' + e.target.result + '" style="max-width: 100%;">');
                                                };

                                                reader.readAsDataURL(input.files[0]);

                                                // 파일명 출력
                                                let fileName = input.files[0].name;
                                                $('#profile').val(fileName);
                                                console.log(fileName);
                                            }
                                        });
                                    </script>
                                </div>

                                <div class="input-group mb-3">

                                    <span class="input-group-text justify-content-center w-25 init_color hs_span">이름</span>
                                    <input type="text" class="form-control" style="width: 120px;" value="개인정보에서받아오기"
                                           name="username"
                                           disabled>
                                </div>
                                <div class="input-group mb-3">
                                        <span
                                                class="input-group-text justify-content-center w-25 init_color hs_span">생년월일</span>
                                    <input type="date" class="form-control" style="width: 120px;"
                                           id="birthdateInput" name="birth" value="개인정보에서받아오기"
                                           disabled>
                                </div>
                                <div class="input-group mb-3">
                                        <span
                                                class="input-group-text justify-content-center w-25 init_color hs_span">연락처</span>
                                    <input type="tel" class="form-control" name="tel"  value="개인정보에서받아오기" disabled>
                                </div>
                                <div class="input-group mb-3">
                                        <span
                                                class="input-group-text justify-content-center w-25 init_color hs_span">주소</span>
                                    <input type="text" class="form-control" name="address"  value="개인정보에서받아오기" disabled>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text justify-content-center w-25 init_color hs_span">이메일</span>
                                    <input type="email" class="form-control" name="email"  value="개인정보에서받아오기" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" style="width: 85%;">
                    <div class="row justify-content-center">
                        <div class="col-md-14 mx-auto">
                            <div class="mt-5">
                                <h4>커리어</h4>
                                <input type="text" name="career" class="w-100 opacity-50" value="저는 삼성에서 일했어요." rows="10">
                                <h4>간단 소개</h4>
                                <input type="text" name="simpleIntroduce" class="w-100 opacity-50" value="저는 삼성에서 일했어요.헤헤" rows="10">
                                <h4>포트폴리오 주소</h4>
                                <input type="text" class="form-control mt-2" id="" name="portfolio" value="khh@github.com"
                                       style="display: block;">
                            </div>
                        </div>
                        <div class="mt-4">
                            <label for="skills"><b>기술/자격 조건</b></label>
                            <div class="p-3 d-inline-flex mb-3 w-100">
                                <div class="row row-cols-auto gap-3 justify-content-center my-3">
                                    <input type="checkbox" class="btn-check" id="java" value="java" name="skills"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="java">Java</label>

                                    <input type="checkbox" class="btn-check" id="spring" value="spring" name="skills"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="spring">Spring</label>

                                    <input type="checkbox" class="btn-check" id="html" value="html" name="skills"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="html">HTML</label>

                                    <input type="checkbox" class="btn-check" id="javaScript" value="javaScript"
                                           name="skills"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="javaScript">JavaScript</label>

                                    <input type="checkbox" class="btn-check" id="sql" value="sql" name="skills"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="sql">SQL</label>

                                    <input type="checkbox" class="btn-check" id="android" value="android" name="skills"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="android">Android</label>

                                    <input type="checkbox" class="btn-check" id="react" value="react" name="skills"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="react">React</label>

                                    <input type="checkbox" class="btn-check" id="nodeJs" value="nodeJs" name="skills"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="nodeJs">Node.js</label>

                                    <input type="checkbox" class="btn-check" id="express" value="express" name="skills"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="express">Express</label>

                                    <input type="checkbox" class="btn-check" id="flutter" value="flutter" name="skills"
                                           autocomplete="off"/>
                                    <label class="btn btn-outline-primary" for="flutter">Flutter</label>
                                </div>
                            </div>
                            <script>
                                $('form').submit(function(event) {
                                    let checkedCount = $('input[type="checkbox"]:checked').length;

                                    if (checkedCount === 0) {
                                        event.preventDefault();
                                        alert('하나 이상의 기술/자격 조건을 선택해주세요.');
                                    }
                                });
                            </script>
                        </div>
                        <div>
                            <h4>자기소개</h4>
                            <textarea name="introduce" class="w-100 opacity-50" rows="10"
                                      placeholder="100자 이상 작성해 주세요." ></textarea>

                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-outline-success mb-3 mt-3"
                                    style="width: 100%">저장하기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- list-group( 오른쪽 바로가기) 시작 -->
    <div class="list-group mx-2">
        <a href="/person/info" class="list-group-item shadow " style="width: 150px;">회원정보관리</a>
        <a href="/person/resume" class="list-group-item shadow">이력서관리</a>
        <a href="/person/scrap" class="list-group-item hs_list_effect shadow">스크랩한 공고</a>
        <a href="/person/offerEmails" class="list-group-item shadow">받은 제안</a>
        <a href="/person/apply" class="list-group-item shadow">지원 현황</a>
    </div>
    <!-- list-group( 오른쪽 바로가기) 끝 -->
</div>
{{> layout/footer}}