{{> layout/header}}
<div class="container d-flex">
    <div class=" mx-2 pb-4 w-100">
        <div class="border border-tertiary p-5 rounded shadow">
            <div class="d-flex justify-content-between">
                <h1>개인정보수정</h1>
                <!-- 저장 버튼 아래로 위치 변경 -->
                <!-- <button type="button" class="btn btn-dark" style="width:80px; height: 40px;">저장</button> -->
            </div>
            <hr />
            <div>
                <div class="container w-50 mt-5 text ">
                    <div>
                        <img class="mx-auto d-block mt-5 my-3 w-25" src="/images/person03.jpg" alt="이력서 사진">
                    </div>
                    <form action="/person/info/update" method="post" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <div class="input-group mb-3">
                                <input type="file" class="form-control" value="" id="" name="">
                            </div>
                                <span
                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">이름</span>
                            <input type="text" class="form-control" value="{{user.username}}" name="username" id="">
                        </div>
                        <div class="input-group mb-3">
                                <span
                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">생년월일</span>
                            <input type="date" class="form-control" id=""value="1989-03-02">
                            <input type="hidden" class="form-control" value="{{user.birth}}" id="">
                        </div>
                        <div class="input-group mb-3">
                                <span
                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">연락처</span>
                            <input type="tel" class="form-control" maxlength="11" value="{{user.tel}}" name="tel" id="">
                        </div>
                        <div class="input-group mb-3">
                                <span
                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">주소</span>
                            <input type="text" class="form-control" value="{{user.address}}" id="">
                        </div>
                        <div class="input-group mb-3">
                                <span
                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">이메일</span>
                            <input type="email" class="form-control" value="{{user.email}}" name="email" id="" readonly>
                        </div>
                        <div class="input-group mb-3">
                                <span
                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">비밀번호</span>
                            <input type="password" class="form-control" value="{{user.password}}" name="password" id="">
                        </div>
                        <div class="input-group mb-3">
                                <span
                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">비밀번호
                                    확인</span>
                            <input type="password" class="form-control" id="">
                        </div>
                        <div id="checkAlertBox"></div>
                        <div id="checkAlertBox"></div>
                        <div class="d-flex justify-content-center mt-5" style="width: 100%;">
                            <div style="width: 100%;">
                                <button type="submit" class="btn btn-outline-success mb-3"
                                        style="width: 100%">수정완료
                                </button>
                            </div>
                            <div class="d-flex justify-content-center" style="width: 100%">
                                <a href="/person/info" class="btn btn-outline-danger mb-3"
                                   style="width: 100%">취소</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- list-group( 오른쪽 바로가기) 시작 -->
    <div class="list-group mx-2">
        <a href="/person/info" class="list-group-item shadow " style="width: 150px;">회원정보관리</a>
        <a href="/person/resume" class="list-group-item shadow">이력서관리</a>
        <a href="/person/scrap" class="list-group-item hs_list_effect shadow">스크랩한 공고</a>
        <a href="/person/offerEmails" class="list-group-item shadow">받은 제안</a>
        <a href="/person/apply" class="list-group-item shadow">지원 현황</a>
    </div>
    <!-- list-group( 오른쪽 바로가기) 끝 -->
</div>
{{> layout/footer}}